---
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Skills from '@/components/sections/Skills.astro';
import About from '@/components/sections/About.astro';
import Projects from '@/components/sections/Projects.astro';
---


<Layout title="Portafolio de Tomás Silvente">
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />
	</main>
</Layout>

<style>
	main {
    padding: 1rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 0.4rem;
      padding-top: 1.5rem;
    }
  }
</style>
